@use '../../../styles/variables' as *;

:host {
  display: block;
}

.page-header {
  @apply bg-gray-100 py-16 text-center mb-8;

  h1 {
    @apply text-3xl md:text-4xl font-bold text-slate-800;
  }
}

.prose {
  h2 {
    @apply text-2xl font-bold text-slate-800 mt-8 mb-4;
  }

  p {
    @apply mb-4 leading-relaxed;
  }
}
