@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif; /* Tropical/Modern font */
  @apply text-gray-800 bg-gray-50;
}
